* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-image: url(../imagen/fondo90.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
}

header {
    background-color: #636262;
    color: white;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    margin-bottom: 20px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Mostrar elementos del menú en línea */
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
    text-decoration: underline;
    color: #007bff;
}

/*****Main*******/
.main-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.main-content h1 {
    text-align: center;
    font-size: 40px;
    color: #7274f1;
    padding: 20px;
    font-weight: 300;
    background-color: #fff;
}

.main-content .row {
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    background-color: #ccc;
}

.main-content .row .empanada {
    flex: 0 0 calc(30% - 20px);
    max-width: calc(30% - 20px);
}

.main-content .servicio {
    margin-bottom: 40px;
    text-align: center;    
}

.main-content .servicio h3 {
    text-align: center;
    padding: 10px;
    font-weight: 300;
    background-color: #f78282;
    border-radius: 6px;
    margin: 10px;
}

.main-content .servicio img {
    width: 200px;
    max-width: 300px;
    height: 200px;
    max-height: 200px;
    margin: 1px;
    padding: 10px;
    opacity: .5;
}

.main-content .servicio img:hover {
    opacity: 1;
    -webkit-transition: all .3s ease;
    -o-transition: all .03s ease;
    transition: all .03s ease;
}

/*******contacto*****/
.formulario-contacto {
    padding: 50px 0;
    background-color: #ffffff;
}

.formulario-contacto .contacto {
    text-align: center;
    font-size: 60px;
    color: #7274f1;
    padding: 20px;
    font-weight: 300;
}

.formulario-contacto .formulario {
    display: flex;
    flex-direction: column;  
    background-color: #b4d4f5;
    padding: 20px;
    border-radius: 5px;  
}
.formulario-contacto .formulario input[type="text"],
.formulario-contacto .formulario input[type="email"] {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    width: calc(50% - 5px);
    max-width: 100%;
}

.formulario-contacto .formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.formulario-contacto .formulario input[type="button"] {
    width: fit-content;
    padding: 10px 20px;
    background-color: rgb(100, 190, 241);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
}

.formulario-contacto .formulario input[type="button"]:hover {
    background-color: #4290e9;
}

/*****Mapa****/
.mapa {
    width: 100%;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.mapa h2 {
    text-align: center;
    font-size: 40px;
    color: #7274f1;
    padding: 20p;
    font-weight: 300;
    background-color: #fff;

}

/******Dirección******/
.info-contacto {
    background-color: #f8f9fa;
    padding: 20px;
    margin-top: 1px;
}

.info-contacto p {
    margin-bottom: 10px;
}

.info-contacto i {
    margin-right: 10px;
    font-size: 20px;
}

/******Redes Sociales******/
footer {
    background-color: #333;
    color: white;
    padding: 30px;
    text-align: center;
}

footer i {
    margin-right: 10px;
    font-size: 30px
}

footer div a {
    color: white;
    margin: 10px;
}

footer div a:hover {
    color: rgb(4, 0, 255);
}

.redes-sociales {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra horizontalmente */
}

.redes-sociales h2 {
    margin-bottom: 20px; /* Espacio entre el título y los enlaces */
}

.redes-sociales .redes {
    display: flex; /* Hace que los enlaces se muestren en línea */
    justify-content: center; /* Centra horizontalmente los enlaces */
}

.redes-sociales a {
    color: white;
    text-decoration: none;
    margin-right: 10px; /* Espacio entre los enlaces de las redes sociales */
}

.redes-sociales .bi-facebook {
    color: #3b5998;
}

.redes-sociales .bi-instagram {
    color: #c13584;
}

/*****Menu******/
.menu {
    background-color: #f8f9fa; /* Cambio: Cambiar el color de fondo del menú */
    padding: 20px;
}

.menu h2 {
    text-align: center;
    font-size: 40px;
    color: #7274f1;
    padding: 30px;
    font-weight: 300;
}
.menu h3 {
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 4px dotted #a00202;
    overflow: hidden;
}

.menu .contenedor-menu2 {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
}

.menu .contenedor-menu2 article {
    flex-basis: calc(25% - 20px);
    margin-bottom: 20px;
}

.menu .contenedor-menu2 .categoria {
    font-weight: bold;
    margin-bottom: 10px;
}

.nombre {
    font-size: 18px;
    margin-bottom: 5px;
    
}

.precio {
    color: #007bff;
    margin-bottom: 5px;
}

.descripcion {
    margin-bottom: 20px;
    color: #676767;
    clear: both;
}

/********Media query para tablets********/
@media only screen and (max-width: 768px) {
    .menu .contenedor-menu2 article {
        flex-basis: calc(50% - 20px);
    }
}

/**********Media query para móviles************/
@media only screen and (max-width: 576px) {
    .menu .contenedor-menu2 article {
        flex-basis: calc(100% - 20px);
    }
}

/*****Información*******/
.contenido {    
    background-color: #fff;
    padding: 20px;
    margin-top: 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.contenido h1 {
    text-align: center;
    text-decoration: underline;
    padding: 20px;
    font-size: 40px;
    color: #7274f1;
    font-weight: 300;
}
    
.contenido p {
    text-align: justify;
}

.boton {
    background-color: #3a3a39;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 16px;
}

.boton:hover {
    background-color: #888a88;
}